# This is Git's per-user configuration file.
[core]
	editor = vim
	excludesfile = ~/.gitexclude
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    co = checkout
    st = status
    br = branch
    rbi = rebase -i
	clone = git-clone
	ls = show --stat --abbrev-commit
	upd = ! git stash && git pull && git stash pop
[push]
	default = simple
[pull]
	rebase = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
	keepBackup = false
[diff]
	wsErrorHighlight = old,new
[user]
	name = Rick Ucker
